#menu{
	width: 175px;
	position: fixed;
	height: 100%;
    display: table;
}

#menu .menuItemContainer {
	width: 100%;
    display: table-cell;
	vertical-align: middle;
}

#menu a {
	height: 65px;
    width: 65px;
    margin: 0 auto;
}

#menu a img {
    width: 65px;
}

#daniel, #work, #play, #contact {
    min-height: 100vh;
    height: 400px;
    display: table;
    width: 100%;
}

.section{
	width: 75%;
	padding: 15px 5% 15px 200px;
    display: table-cell;
    vertical-align: middle;
}

.section img {
    padding: 10px 0;
}

.sectionContents{
    width: 700px;
}


#contactForm {
    width: 600px;
}

#contactForm .formField {
    width: 600px;
}

#contactForm .formField label {
    width: 100px;
}


#contactForm .formField input[type=text],
#contactForm .formField textarea {
    max-width: 400px;
    width: 400px;
}

#contactForm input[type="submit"] {
    width: 417px;
    margin: 10px 105px;
}

