@font-face {
    font-family: myfont;
    src: url(../Assets/Deluxe.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body{
	font-size: 62.5%;
	font-family: "myfont";
	/*background-color: #5696BC;*/
}

h1{
	font-size: 5em;
    padding-bottom: 20px;
    text-align: center;
}

h2{
	font-size: 4.5em;
    padding-bottom: 10px;
}

h3{
	font-size: 3em;
    text-align: left;
	font-weight: bold;
}

p {
	font-size: 1.8em;
}

#container{

	width: 100%;
}

#menu {

}

#menu .menuItem{
	width: 100%;
	float: left;
	margin: 15px 0px;
}

#menu a {
	display: block;
	text-decoration: none;
	height: 65px;
    width: 65px;
    margin: 0 auto;
}

#menu a img {
    width: 65px;
}

#main p {
    line-height: 25px;
}

#main a {
    color: #fff;
    font-weight: bold;
}

#daniel{
	background-color: #F7352B;
    text-align: center;
}

#work{
	background-color: #2566A0;
}

#play{
	background-color: #22BF35;
}

#contact{
	background-color: #F7A22B;
}

.section{
	color: #fff;
}

.subSection {
	margin: 0px 0px 15px;
}