@font-face {
    font-family: myfont;
    src: url(../Assets/Deluxe.ttf);
}

* {
	padding: 0;
	margin: 0;
}

body{
	font-size: 62.5%;
	font-family: "myfont";
	/*background-color: #5696BC;*/
}

h1{
	font-size: 5em;
    padding-bottom: 20px;
    text-align: center;
}

h2{
	font-size: 4.5em;
    padding-bottom: 10px;
}

h3{
	font-size: 3em;
    text-align: left;
	font-weight: bold;
}

p {
	font-size: 1.8em;
}

#container{

	width: 100%;
}

#menu {

}

#menu .menuItem{
	width: 100%;
	float: left;
	margin: 15px 0px;
}

#menu a {
	display: block;
	text-decoration: none;
	height: 65px;
    width: 65px;
    margin: 0 auto;
}

#menu a img {
    width: 65px;
}

#main p {
    line-height: 25px;
}

#main a {
    color: #fff;
    font-weight: bold;
}

#daniel{
	background-color: #F7352B;
    text-align: center;
}

#work{
	background-color: #2566A0;
}

#play{
	background-color: #22BF35;
}

#contact{
	background-color: #F7A22B;
}

.section{
	color: #fff;
}

.sectionContents{
    margin: 0 auto;
}

.subSection {
	margin: 0px 0px 15px;
}


#contactForm .formField label span.required {
    color: #f00;
}


#contactForm .formField {
    margin: 10px 0px;
    float: right;
}

#contactForm .formField label {
    font-size: 1.8em;
    display: inline-block;
    text-align: right;
    line-height: 40px;
    margin-right: 5px;
}


#contactForm .formField input[type=text] {
    padding: 10px 6px;
    border-radius: 5px;
    border: #D48009 1px solid;
    display: inline-block;
    font-size: 1.7em;
}

#contactForm .formField textarea {
    padding: 10px 6px;
    border-radius: 5px;
    border: #D48009 1px solid;
    font-size: 1.7em;
    display: inline-block;
    vertical-align: top;
}

#contactForm input[type="submit"] {
    padding: 10px;
    font-size: 1.9em;
    border-radius: 5px;
    color: #fff;
    background-color: #D48009;
    border: #D48009 1px solid;
}