$desktopMedia: "(min-width: 990px)";
$tabletMedia: "(min-width: 721px) and (max-width: 990px)";
$mobileMedia: "(max-width: 720px)";
$printMedia: "print";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 62.5%;
	font-family: 'Hind', san-serif;
    font-weight: 400;
}

h1{
	font-size: 5em;
}

h2{
	font-size: 4.5em;
}

h3{
	font-size: 3em;
    text-align: left;
	font-weight: bold;
}

p {
	font-size: 1.8em;
}

#container{
	width: 100%;
}

#main {
    p {
        line-height: 25px;
        padding: 0 0 15px;
    }

    a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }

    #footer{
        font-size: 1.3em;
        text-align: center;
    }
}

#daniel, #work, #play, #contact {
    min-height: 100vh;
    height: 400px;
    display: table;
    width: 100%;
}

#daniel{
	background-color: #F7352B;
    text-align: center;

    p{
        padding: 0;
    }
}

#work{ background-color: #2566A0; }

#play{ background-color: #22BF35; }

#contact{ background-color: #F7A22B; }

#shareIcons{
    margin: 15px 0px 10px;
    a {
        text-indent: -999em;
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 0px 10px;

        &.github{ background: url('../Assets/github.svg')no-repeat 0px 0px; }
        &.linkedin{ background: url('../Assets/linkedin.svg')no-repeat 0px 0px; }
        &.reddit{ background: url('../Assets/reddit.svg')no-repeat 0px 0px; }
        &.stack{ background: url('../Assets/stackoverflow.svg')no-repeat 0px 0px; }
    }
}

#meImageCarousel{
    width: 350px;
    margin: auto;

    @media #{$mobileMedia}{
        width: 200px;
    }    
}

#coffeeCarousel{
    width: 700px;
    img {
        width: 220px;
        margin: 0px 7px;
    }

    @media #{$tabletMedia} {
        width: 500px;
        img {
            width: 230px;
            margin: 0px 10px;
        }
    }   

    @media #{$mobileMedia}{
        width: 200px;
        margin: 0 auto 50px;
        img{
            margin: 0;
        }
    }
    
}

.section{
	color: #fff;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 15px 15px 200px;

    @media #{$tabletMedia} {
        padding-left: 150px;
    }    

    @media #{$mobileMedia} {
        padding-left: 75px;
    }

    img{
        padding: 10px 0;
    }
}

.sectionContents{
    margin: 0 auto;

    @media #{$desktopMedia} {
        width: 700px;
    }

    @media #{$tabletMedia} {
        width: 500px;
    }    

    @media #{$mobileMedia} {
        
    }
}

.subSection {
	margin: 0px 0px 15px;
}

#contactForm{
    .formField {
        margin: 10px 0px;
        float: right;
        
        label {
            font-size: 1.8em;
            display: inline-block;
            text-align: right;
            line-height: 40px;
            margin-right: 5px;
            vertical-align: top;
        
            span.required {
                color: #f00;
            }
        }

        input[type=text],
        input[type=email],
        textarea {
            padding: 10px 6px;
            border-radius: 5px;
            border: #D48009 1px solid;
            font-size: 1.7em;
            display: inline-block;
            vertical-align: top;
        }

    }

    input[type="submit"] {
        padding: 10px;
        font-size: 1.9em;
        border-radius: 5px;
        color: #fff;
        background-color: #D48009;
        border: #D48009 1px solid;
    }


    @media #{$desktopMedia} {
        width: 600px;
        .formField {
            width: 600px;

            label {
                width: 100px;
            }

            input[type=text],
            input[type=email],
            textarea {
                max-width: 400px;
                width: 400px;
            }    
        }

        input[type="submit"] {
            width: 417px;
            margin: 10px 105px;
        }
    }

    @media #{$tabletMedia} {
        width: 500px;
        .formField {
            width: 500px;
        
            label {
                width: 80px;
            }

            input[type=text],
            input[type=email],
            textarea {
                width: 360px;
                max-width: 360px;
            }
        }

        input[type="submit"] {
            width: 375px;
            margin: 10px 0px 10px 85px;
        }  
    }    

    @media #{$mobileMedia} {
        width: 100%;

        .formField {
            width: 100%;
        
            label{
                width: 95%;
                text-align: left;            
            }

            input[type=text],
            input[type=email],
            textarea {
                width: 95%;
                max-width: 95%;
            }        
        }

        input[type="submit"] {
            width: 98%;
            margin-top: 10px;
        }
    }    
}

#sentMailSpan{
    font-size: 2em;
}

#errorMessage {
    color: #f00;
    font-weight: bold;
    font-size: 1.8em;
    
    @media #{$desktopMedia} {
        margin-left: 105px;
    }
    @media #{$tabletMedia} {
        margin-left: 85px;
    }
}

@media #{$printMedia} {
    *{
        color:#000;
        font-size: 10px;
        padding: 0;
        margin: 0;
    }
    #main{
        h1{ font-size: 2em; line-height: 2em; }
        h2{ font-size: 1.8em; line-height: 1.8em; }
        h3{ font-size: 1.6em; line-height: 1.6em; }
        p{ font-size: 1.3em; line-height: 1.3em; padding: 0; margin: 0; }
        a{ color: #000; font-weight: normal; }
        #daniel, #work, #play{
            display: block;
            height: auto;
            min-height: auto;
            text-align: left;
            padding: 10px 20px;
        }
        
        .section{ margin: 0; padding: 0; }
        .subSection{ margin: 0; padding: 0; }        
    }

    
    #menu,
    #shareIcons,
    #meImageCarousel,
    #coffeeCarousel,
    #contact{
        display: none;
    }
}