#menu{
	width: 20%;
	position: fixed;
	height: 100%;
    display: table;
}

#menu .menuItemContainer {
	width: 100%;
    display: table-cell;
	vertical-align: middle;
}

#menu .menuItem {
    margin: 10px 0px;
}

#menu a {
	height: 40px;
    width: 40px;
}

#menu a img {
	width: 40px;
}

#daniel, #work, #play, #contact {
    min-height: 100vh;
    height: 400px;
    display: table;
    width: 100%;
}

#main p {
    padding: 0px 0px 15px;
}

.section{
	width: 75%;
	padding: 25px 15px 25px 15%;
    display: table-cell;
    vertical-align: middle;
}

.section img {
    width: 100%;
    padding: 10px 0;
}

.sectionContents{
    width: 240px;
}

#contactForm {
    width: 240px;
}

#contactForm .formField {
    width: 240px;
}

#contactForm .formField label {
    width: 240px;
    text-align: left;
}


#contactForm .formField input[type=text],
#contactForm .formField textarea {
    width: 240px;
    max-width: 240px;
}

#contactForm input[type="submit"] {
    width: 240px;
}