#menu{
	width: 150px;
	position: fixed;
	height: 100%;
    display: table;
}

#menu .menuItemContainer {
	width: 100%;
    display: table-cell;
	vertical-align: middle;
}

#menu a {
	height: 65px;
    width: 65px;
    margin: 0px auto;
}

#menu a img {
    width: 65px;
}

#daniel, #work, #play, #contact {
    min-height: 100vh;
    height: 400px;
    display: table;
    width: 100%;
}

#main p {
	padding: 0px 0px 10px;
}

.section{
	width: 75%;
	padding: 15px 15px 15px 150px;
    display: table-cell;
    vertical-align: middle;
}

.section img {
    width: 300px;
    padding: 10px 0;
}

.sectionContents{
    width: 500px;
}

#contactForm {
    width: 500px;
}

#contactForm .formField {
    width: 500px;
}

#contactForm .formField label {
    width: 80px;
}


#contactForm .formField input[type=text],
#contactForm .formField textarea {
    width: 360px;
    max-width: 360px;
}

#contactForm input[type="submit"] {
    width: 375px;
    margin: 10px 0px 10px 85px;
}